#root {
  height: 100vh;
}
.detail-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Arial", sans-serif;
  height: 100%;
  background-color: #ff8c21;
}

.detail-container {
  padding: 40px;
  margin: 40px;
  text-align: center;
  font-family: "Arial", sans-serif;
  width: 70%;
  height: 50%;
  background-color: white;
  border-radius: 10px;
}

.product-detail-image {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.product-detail-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
}

.product-detail-description {
  text-align: start;
  font-size: 16px;
  color: #777;
  margin-bottom: 16px;
}

.product-detail-rating {
  text-align: start;
  font-size: 16px;
  color: #777;
  margin-bottom: 16px;
}

.product-detail-price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.back-button {
  padding: 10px 20px;
  background-color: #ff8c21;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #c96100;
}
